@font-face {
    font-family: 'Outfit';
    src: url('https://fonts.gstatic.com/s/outfit/v9/0YY8MVJWvR2l_M_6rYuC3A8sTDbIVg.ttf');
    font-weight: 600;
  }

  p {
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
  }
  